body{
  height: 250vh;
  display: flex;
  flex-direction: column;
  background: rgb(43, 40, 29);
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;

}

.container {
  margin: 0 auto;
  width: 100%;
  height: 900px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 500px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  z-index:-1;
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  

  -webkit-backface-visibility: hidden; 
  
}

  

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {
  height: 600px;
  padding: 190px 0 0 280px;
  
}
.title1 {
  font-family: 'Alatsi', sans-serif;
  color: black;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
  text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;
}

  .title2 {    
    font-family: 'Alatsi', sans-serif;
    position: relative;
    color: black;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
    text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;
  }
  h4{
    text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;
  }
  
  .likes {
    margin-left: 24px;
  }
  
  
  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }



.description {
  font-family: 'Yeon Sung', cursive;
  bottom: 0px;
  height: 200px;
  font-size: 20px;
  line-height: 26px;
  color: #B1B0AC;
  
}

.column1 {
  color: black;
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 30px;
  padding: 3px 8px;
  font-size: 18px;
  margin-right: 4px;
  line-height: 10px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  color: black;
  padding-left: 20px;
  padding-top: 30px;
  margin-left: 20px;
  width: 800px;
  float: left;
}

.avatars {
  margin-top: 23px;
}
.avatars >  img {
    cursor: pointer;
  }
  
  /* img:hover {
    opacity: 0.6;
  } */
  
  a:hover {
    text-decoration: none;
  }




fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}


.score>.input,
.score>.input>label:hover,
.score>.input>input:focus+label,
.score>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('grade_img.png')no-repeat;}
.score{display:inline-block; white-space:nowrap;width:225px;height:40px;padding:25px;line-height:30px;}
.score>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.score>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
.score>.input.focus{outline:1px dotted #ddd;}
.score>.input>label{width:15px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.score>.input>label:hover,
.score>.input>input:focus+label,
.score>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.score>.input>label:hover~label{background-image: none;}
.score>.input>label[for="p1"]{width:30px;z-index:5;}
.score>.input>label[for="p1_5"]{width:15px;z-index:5;}
.score>.input>label[for="p2"]{width:60px;z-index:4;}
.score>.input>label[for="p2_5"]{width:45px;z-index:4;}
.score>.input>label[for="p3"]{width:90px;z-index:3;}
.score>.input>label[for="p3_5"]{width:75px;z-index:3;}
.score>.input>label[for="p4"]{width:120px;z-index:2;}
.score>.input>label[for="p4_5"]{width:105px;z-index:2;}
.score>.input>label[for="p5"]{width:150px;z-index:1;}
.score>.input>label[for="p5_5"]{width:135px;z-index:1;}
.score>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}


#mm {
  position: absolute;
  width: 100%;
}


h2 {
  color: white;
}

.carousel-item {
  width: 100%;
}

.movieTitle {
  font-size: 1.2vw;
  color: white;
}

.carousel-control-prev {
  position: absolute;
  width: 80px;
}

.carousel-control-next {
  position: absolute;
  width: 80px;
}

.col-3 img {
  padding: 0;
  width: 80%;
}