{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'detail/detail.css' %}">
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">

{% endblock %}
{% block body %}
<div class="movie-card">

  <div class="container">

    <div>
      <!-- Sample Start -->

      <!-- Button trigger modal -->
      <a data-toggle="modal" href="#ale"><img src='{{movie.poster_url}}' alt="cover" class="cover"
          style="width:180px; height: 230px;"></a>

      <!-- Modal -->
      <div class="modal fade" id="ale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="width: 500px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{movie.title}}</h4>
            </div>
            <div class="modal-body embed-responsive embed-responsive-16by9">
              <iframe width="100%" height="720"
                src="https://www.youtube.com/embed?listType=search&list={{ movie.title }}+예고편" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- end video modal -->

      <div class="hero"
        style="background: url('https://image.tmdb.org/t/p/w500{{movie.back_image}}'); opacity : 0.9; background-size:cover;">

        <div class="details">

          <div class="title1">{{ movie.title }} </div>

          <div class="title2">{{ movie.genre.name}}</div>



          {% if user.is_authenticated %}
          <form action="{% url 'movies:like_movie' movie.pk %}" method="POST" style="width:200px">
            {% csrf_token %}
            {% if user in movie.like_users.all %}
            <div id="like-button" data-id="{{movie.id}}" class="fas fa-thumbs-up "
              style="color:red; width: 200px; font-size: 40px">
              <h4 style="color: black;"><span id="like-count">{{ movie.like_users.count }} </span> likes</h4>
            </div>
            {% else %}
            <div id="like-button" data-id="{{movie.id}}" class="far fa-thumbs-up "
              style="color:red; width: 200px; font-size: 40px">
              <h4 style="color: black;"><span id="like-count">{{ movie.like_users.count }} </span> likes</h4>
            </div>
            {% endif %}
          </form>
          {% endif %}

        </div> <!-- end details -->

      </div> <!-- end hero -->

      <div class="description">

        <div class="column1">
          <p>평론가 평점</p><span class="tag">{{movie.vote_average}}</span><br>
          <p>유저 평점</p><span class="tag">{{avg_score}}</span>
        </div> <!-- end column1 -->

        <div class="column2">

          {{ movie.description}}

          <div class="avatars">
            {% for people in peoples %}
            {{people}}
            {% endfor %}
          </div> <!-- end avatars -->



        </div> <!-- end column2 -->
      </div> <!-- end description -->


    </div> <!-- end container -->
  </div> <!-- end movie-card -->
  <!-- 평점 작성 -->
  <div class="row">
    <div class="col-4"></div>
    <div id="reviewSection" class="col-8" style="width: 1000px;">
      <h3>현재 작성된 한줄평 : {{ movie.review_set.all.count }}개<h3>
          <table class="review">
            <tr style="width: 300px;">
              <td>
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="{{ user.image.name }}" style="height: 30px;">
                {% else %}
                <i class="fas fa-user-circle fa-2x"></i>
                {% endif %}
              </td>
              <td>
                <form action="{% url 'movies:review' movie.pk %}" method='POST' style="width: 1000px; z-index:-1000">
                  {% csrf_token %}
                  <input value="{{review.content}}" name="content" type="text">
                  <span class="score">
                    <span class="input">
                      <input type="radio" name="score" value="2" id="p1">
                      <label for="p1">1</label>
                      <input type="radio" name="score" value="1" id="p1_5">
                      <label for="p1_5">0.5</label>
                      <input type="radio" name="score" value="4" id="p2">
                      <label for="p2">2</label>
                      <input type="radio" name="score" value="3" id="p2_5">
                      <label for="p2_5">1.5</label>
                      <input type="radio" name="score" value="6" id="p3">
                      <label for="p3">3</label>
                      <input type="radio" name="score" value="5" id="p_3_5">
                      <label for="p3_5">2.5</label>
                      <input type="radio" name="score" value="8" id="p4">
                      <label for="p4">4</label>
                      <input type="radio" name="score" value="7" id="p4_5">
                      <label for="p4_5">3.5</label>
                      <input type="radio" name="score" value="10" id="p5">
                      <label for="p5">5</label>
                      <input type="radio" name="score" value="9" id="p5_5">
                      <label for="p5_5">4.5</label>
                    </span>
                  </span>
                  <input class="btn btn-outline-primary" type='submit' value='등록' style="z-index: 1001;">
                </form>
              </td>
            </tr>
            <hr>
            <!-- for문 -->
            {% for review in movie.review_set.all %}
            <tr>
              <td>
                <div class="avatarcontainer">
                  <a href="{% url 'accounts:detail' review.user_id %}">
                    {% if review.user.image %}
                    <img class="fas fa-user-circle fa-2x" src="{{ review.user.image.url }}"
                      alt="{{ review.user.image.name }}" style="height: 40px;">
                    {% else %}
                    <i class="fas fa-user-circle fa-2x"></i>
                    {% endif %}
                  </a>
                </div>
              </td>
              <td>
                {{review.content}} ({{ review.score }})점
                {% if review.user == user %}
                  <form action='reviews/{{review.pk}}/delete' method='POST'>
                    {% csrf_token %}
                    <input class="btn btn-outline-danger" type="submit" value="삭제"
                      onclick="return confirm('삭제하려면 클릭해주세요')">
                  </form>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
    </div>
  </div>




  <hr style="color: brown;">
  <div id="mm" class="carousel slide" data-ride="carousel">
    <h2 style="text-align: center;">관련 추천 영화</h2>
    <!-- The slideshow -->
    <div class="carousel-inner no-padding mx-0">
      <a class="carousel-control-prev" href="#mm" data-slide="prev"
        style="background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.2) 100%);">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.1.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.1.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.2.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.2.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.3.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.3.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.4.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.4.title}}</h5>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.5.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.5.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.6.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.6.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.7.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.7.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.8.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.8.title}}</h5>

          </div>
        </div>
      </div>
      <div class="row carousel-item">
        <div class="row">
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.9.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.9.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.10.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.10.title}}</h5>
          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.11.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.11.title}}</h5>

          </div>
          <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500{{new_movies.12.poster_path}}" alt="sample84" class='my-image'
              alt=""><br>
            <h5 class="movieTitle">{{new_movies.12.title}}</h5>

          </div>
        </div>
      </div>
      <a class="carousel-control-next no-padding" href="#mm" data-slide="next"
        style="background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.2) 100%);">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- Left and right controls -->
  </div>
</div>

<hr>



<script>
  const likeButton = document.querySelector('#like-button')
  likeButton.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
    axios.post(`/movies/${event.target.dataset.id}/like/`)
      .then(response => {
        const likeCount = document.querySelector('#like-count')
        console.log(response)
        console.log(event.target)
        if (response.data.is_liked) {
          event.target.classList.remove('far')
          event.target.classList.add('fas')
        } else {
          event.target.classList.remove('fas')
          event.target.classList.add('far')
        }
        likeCount.innerText = response.data.like_count
      })
      .catch(error => {
        console.log(error)
      })
  })
</script>

{% endblock %}
{% block script %}
<script src="{% static 'detail/detail.js' %}"></script>
{% endblock %}