{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
          <div class="col">
            <img src={{movie.poster_url}} width='500px' > 
          </div>
          <div class="col">
                <h1>{{movie.title}} ({{movie.genre.name}})</h1>
                누적관객수 : {{movie.audience}}<hr>
                줄거리 : {{movie.description}}<hr>
                {% if user.is_authenticated %}
                <form action="{% url 'movies:like_movie' movie.pk %}" method="POST">
                    {% csrf_token %}
                    {% if user in movie.like_users.all %}
                    <input type="submit" value="좋아요 취소">
                    {% else %}
                    <input type="submit" value="좋아요">
                    {% endif %}
                </form>
                {% endif %}
                
                <p>
                {{ movie.like_users.all.count }} 명이 좋아합니다.
                </p>
        </div>
        </div>
 
<hr>


<h2>한줄평을 작성해주세요</h2>
{% for review in movie.review_set.all %}
    <p>
        <hr>{{review.user}} ({{review.평점}}점)<br>
        <form action='reviews/{{review.pk}}/delete' method='POST'> {{review.한줄평}} {% csrf_token %}<input type='submit' value='삭제'></form>
    </p>
        <hr>
        <form action="{% url 'movies:review' movie.pk %}" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type='submit' value='등록'>
        </form>
{% endfor %}


<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      axios.get('https://images.unsplash.com/photo-1524712245354-2c4e5e7121c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80')
        .then(response => {
          document.body.style.backgroundImage = `url(${response.request.responseURL})`
          document.body.style.backgroundPosition = 'center'
          document.body.style.backgroundSize = 'cover'
          document.body.style.backgroundRepeat = 'no-repeat'

        }) -->
</script>
{% endblock %}
