{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src={{movie.poster_url}} width='500px'>
        </div>
        <div class="col">
            <h1 style="color:mediumpurple">{{movie.title}} ({{movie.genre.name}})</h1>
            누적관객수 : {{movie.audience}}
            <hr>
            줄거리 : {{movie.description}}
            <hr>
            {% if user.is_authenticated %}
            <form action="{% url 'movies:like_movie' movie.pk %}" method="POST">
                {% csrf_token %}
                {% if user in movie.like_users.all %}
                <i id="like-button" data-id="{{movie.id}}" class="fas fa-thumbs-up " style="color:red"></i>
                {% else %}
                <i id="like-button" data-id="{{movie.id}}" class="far fa-thumbs-up " style="color:red"></i>
                {% endif %}
            </form>
            {% endif %}

            <p><span id="like-count">{{ movie.like_users.count }}</span>명이 이 글을 좋아합니다. </p>
        </div>
    </div>

    <hr>


    <h2>content을 작성해주세요</h2>
    {% for review in movie.review_set.all %}
    <p>
        {{review.user}} ({{review.score}}점)<br>
        <form action='reviews/{{review.pk}}/delete' method='POST' onclick="return confirm('삭제하려면 클릭해주세요')">
            {{review.content}} {% csrf_token %}<button type="submit" class="btn btn-outline-danger"
                value="삭제">삭제</button></form>
    </p>
    <hr>
    {% endfor %}
    <form action="{% url 'movies:review' movie.pk %}" method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type='submit' value='등록'>
    </form>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.get(
                "https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                )
            .then(response => {
                document.body.style.backgroundImage = `url(${response.request.responseURL})`
                document.body.style.backgroundPosition = 'center'
                document.body.style.backgroundSize = 'cover'
                document.body.style.backgroundRepeat = 'no-repeat'

            })
    </script>
    {% endblock %}
    {% block script %}
    <script>
        const likeButton = document.querySelector('#like-button')
        likeButton.addEventListener('click', function (event) {
            console.log(event.target.dataset)
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            axios.defaults.headers.common['X-REQUESTED-WITH'] = 'XMLHttpRequest'
            axios.post(`/movies/${event.target.dataset.id}/like/`)
                .then(response => {
                    const likeCount = document.querySelector('#like-count')
                    console.log(response)
                    console.log(event.target)
                    if (response.data.is_liked) {
                        event.target.classList.remove('far')
                        event.target.classList.add('fas')
                    } else {
                        event.target.classList.remove('fas')
                        event.target.classList.add('far')
                    }
                    likeCount.innerText = response.data.like_count
                })
                .catch(error => {
                    console.log(error)
                })
        })
    </script>
    {% endblock %}