{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'index/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="gradient">
<div class="container" style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">인기 영화</button>
    <button type="button" class="btn btn-secondary">유저 추천 영화</button>
    <button type="button" class="btn btn-secondary">평점순</button>
  </div>
  <hr>
<h1>박스오피스 TOP 10 </h1>
</div>

<div id="drag-container" style="z-index: 2;">
  <div id="spin-container">
    <!-- Add your images (or video) here -->
    {% for movie in index_movies %}
      <a href="{% url 'movies:detail' movie.pk %}"><img src="{{movie.poster_url}}" alt="sample84" />
    {% endfor %}
    <a href="#"></a>
  </div>
  <div id="ground"></div>
</div>
</div>

{% block script %}
<script src="{% static 'index/index.js' %}"></script>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"</script>
<script>
</script>
{% endblock %}
{% endblock %}