{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'index/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
<style>
    * { box-sizing: border-box; }
    .video-background {
      background: #000;
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -99;
    }
    .video-foreground,
    .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    #vidtop-content {
        top: 0;
        color: #fff;
    }
    .vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
    .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
    .vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
    @media (min-aspect-ratio: 16/9) {
      .video-foreground { height: 300%; top: -100%; }
    }
    @media (max-aspect-ratio: 16/9) {
      .video-foreground { width: 300%; left: -100%; }
    }
    @media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
    }
    @media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
    }
    </style>
{% endblock %}
{% block body %}
<div class="video-background">
    <div class="video-foreground">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/YYRcjMphr6I?list=PL55ZMOFuPh0S6rYTtMdasAqmOVDpzOg3z" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
<div class="container" style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button id="nowplaying" onclick="location.href=`{% url 'movies:index' 0%}`" type="button"
      class="btn btn-secondary">현재 상영작</button>
    <button id="popular" onclick="location.href=`{% url 'movies:index' 1%}`" type="button" class="btn btn-secondary">인기
      영화</button>
    <button id="top_rated" onclick="location.href=`{% url 'movies:index' 2%}`" type="button"
      class="btn btn-secondary">평론가 평점순</button>
  </div>
  <hr>
  <h1 style="font-family: 'Black Han Sans', sans-serif; color:#e0f088;">TOP 10 만 뽑았다!! </h1>
</div>

<div id="drag-container" style="z-index: 2;">
  <div id="spin-container">
    <!-- Add your images (or video) here -->
    {% for movie in movies %}
    <a href="{% url 'movies:detail' movie.pk %}"><img src="{{movie.poster_url}}" alt="sample84" />
      {% endfor %}
      <a href="#"></a>
  </div>
  <div id="ground"></div>
</div>
</div>

{% block script %}
{% comment %} <script>
  const nowPlaying = document.querySelector('#nowplaying')
  const movies = document.querySelector('#spin-container')
  nowPlaying.addEventListener('click', function (event) {
    console.log(event.target)
  })
  movies.addEventListner('click', function (event) {
    console.log(event)
  })
</script> {% endcomment %}
<script src="{% static 'index/index.js' %}"></script>
<script>
  src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"
</script>
{% endblock %}
{% endblock %}