{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'search/search.css' %}">
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<h1>제목으로 검색</h1>
{% for movie in title_movies %}
<figure class="snip1273">
    <img src="{{movie.poster_url}}" alt="sample84"></a>
    <figcaption>
        <h3>{{movie.title}}</h3>
    </figcaption>
    <a href="{% url 'movies:detail' movie.id %}"></a>
</figure>
<hr>
<p>{{movie.des_movies}}</p>
{% endfor %}
<h1>내용으로 검색</h1>
{% for movie in des_movies %}
<a href="{% url 'movies:detail' movie.id %}"><img src="{{movie.poster_url}}" alt="sample84" width="150px"></a><br>
{{ movie.title }}
<hr>
<p>{{movie.des_movies}}</p>
{% endfor %}
<script>
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
</script>
{% endblock %}