{% extends 'base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'search/search.css' %}">
<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>{{search_title}} 검색 결과</h1><hr>
<h1>제목으로 검색</h1>
<div class="row">
{% for movie in title_movies %}
<figure class="snip1273">
    <img src="{{movie.poster_url}}" alt="sample84"></a>
    <figcaption>
        <h2>상세보기</h2>
    </figcaption>
    <a href="{% url 'movies:detail' movie.id %}"></a>
    <p style="text-align: center;">{{movie.title}}</p>
</figure>

{% endfor %}
<hr>
</div>

<h1>내용으로 검색</h1>
<div class="row">
{% for movie in des_movies %}
<figure class="snip1273">
    <img src="{{movie.poster_url}}" alt="sample84"></a>
    <figcaption>
        <h2>상세보기</h2>
    </figcaption>
    <a href="{% url 'movies:detail' movie.id %}"></a>
    <p style="text-align: center;">{{movie.title}}</p>
</figure>
{% endfor %}
</div>
<script>
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
</script>
{% endblock %}