{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<style>
    * {
        font-family: 'Roboto', sans-serif;
    }

    .containers {
        position: relative;
        top: 20px;
        left: 50%;
        margin-left: -65px;
        margin-top: -20px;
        width: 130px;
        height: 40px;
        text-align: center;
    }

    button {
        outline: none;
        height: 40px;
        text-align: center;
        width: 130px;
        border-radius: 40px;
        background: #fff;
        border: 2px solid #1ecd97;
        color: #1ecd97;
        letter-spacing: 1px;
        text-shadow: 0;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.25s ease;
    }

    button:hover {
        color: white;
        background: #1ecd97;
    }

    button:active {
        letter-spacing: 2px;
    }

    .onclic {
        width: 40px;
        border-color: #bbb;
        border-width: 3px;
        font-size: 0;
        border-left-color: #1ecd97;
        animation: rotating 2s 0.25s linear infinite;
    }

    .onclic:after {
        content: "";
    }

    .onclic:hover {
        color: #1ecd97;
        background: white;
    }

    .validate {
        font-size: 13px;
        color: white;
        background: #1ecd97;
    }

    .validate:after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    .message {
        position: fixed;
    }

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .frame {
        height: 100%;
    }
</style>
{% endblock %}
​
{% block body %}
<div class="container">
    <div class="frame">
        <div class="nav" style="text-align: center;">
            <div class="a" style="width: 500px;">
                <div class="row">
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">
                        <h3 style="color:whitesmoke">회원가입</h3>
                    </div>
                    <div class="col-sm">

                    </div>
                </div>
            </div>

        </div>
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="/accounts/signup/" method="post" name="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                
                <div class="containers">
                    <button type="submit" id="button">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
<div class="wrapper">
    <div class="message">
        <p>Copyright SSAFY All rights reserved</p>
    </div>
</div>


{% endblock %}